<h2 class="text-center">Reading Room Lunch Train</h2>


<div class="text-center">
  <small>Find out where everyone's eating</small>
</div>

<div class="row">
    <form ng-submit="addContact(train.cond, train.dest, train.time)">
      <div class="col-md-12 form-group">
        <label for="name">Conductor:</label>
        <input class="form-control" type="text" name="name" ng-model="train.cond">
      </div>
      <div class="col-md-12 form-group">
        <label for="dest">Dest:</label>
        <input class="form-control" type="text" name="dest" ng-model="train.dest">
      </div>
      <div class="col-md-12 form-group">  
        <label for="Time">Time:</label>
        <input class="form-control" type="time" name="time" ng-model="train.time">
      </div>
      <div class="col-md-12 form-group">  
        <label for="Time">Time:</label>
        <textarea class="form-control" type="text" name="time" ng-model="train.notes"></textarea>
      </div>
      <div class="col-md-3">
        <input class="btn btn-primary" type="submit" value="Add Train">
      </div>
    </form>
  </div>
  <table class="table">
    <th>
      <tr scope="row">
        <th>Conductor</th>
        <th>Destination</th>
        <th>Time</th>
        <th>Notes</th>
      </tr>
      <tr ng-repeat="train in trains track by $index" scope="row">
        <td>{{train.conductor}}</td>
        <td>{{train.dest}}</td>
        <td>{{train.time}}</td>
        <td>{{train.notes}}</td>
      </tr>
  </table>

